html,body{
  padding: 0;
  margin: 0;
}
.ball{
  position: fixed;
  top:calc(50vh - 20px);
  left:calc(50vw - 22px);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  transition: left 1s;

}
.container{
  text-align: center;
  height: 100vh;
}
.container::after{
  content:'';
  width: 0px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.container .label {
  display: inline-block !important;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
}

input[id="radio1"]:checked ~ .bg-animation-color{
  left: 0vw;
}
input[id="radio1"]:checked ~ .ball{
  top:calc(50vh - 20px);
  left:calc(50vw - 80px);
}

input[id="radio2"]:checked ~ .bg-animation-color{
  left: -100vw;
}
input[id="radio2"]:checked ~ .ball{
  top:calc(50vh - 20px);
  left:calc(50vw - 22px);
}

input[id="radio3"]:checked ~ .bg-animation-color{
  left: -200vw;
}
input[id="radio3"]:checked ~ .ball{
  top:calc(50vh - 20px);
  left:calc(50vw + 35px);
}

.hide{
  display: none;
}

.bg-animation-color{
  transition: left 1s;
  z-index: -1;
  width: 300vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  display: flex;
}
.red{
  background-color: red;
  width: 100vw;
  height: 100vh;
}
.blue{
  background-color: blue;
  width: 100vw;
  height: 100vh;
}
.green{
  background-color: green;
  width: 100vw;
  height: 100vh;
}
